body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

::placeholder {
    color: #4c9b5e;
    opacity: 1; 
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 20%; /* Adjust this value to make the image smaller */
    height: auto;
    margin-top: 10px;
    margin-bottom: -180px;  /* Center the logo horizontally within its container */
}

#auth-form, #dashboard {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
}

#auth-form h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #4c9b5e;
    position: relative;
}

#auth-form h2::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #4c9b5e;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.error {
    color: red;
}

input{
    width: 80%;
    border-radius: 12px;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    background: #eaeaea;
    margin: 15px 0;
}

button {
    width: 150px;
    background: #4c9b5e;
    color: #fff;
    height: 40px;
    border-radius: 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 10px;
}

button:hover {
    background-color: #60926c;
}

#login-form {
    margin-bottom: 20px; /* Add margin to separate the button from input fields */
}

.center-button {
    text-align: center;
}

@media (max-width: 768px) {
    #auth-form, #dashboard {
        width: 90%;
    }
}


.dashboard-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-option {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-option:hover {
    background-color: #f0f0f0; /* Light up on hover */
}

.option-details {
    display: none;
    margin-top: 10px;
}

.dashboard-option.active {
    background-color: #d4edda;
}

.dashboard-option.active .option-details {
    display: block;
}

.graph-container {
    margin-top: 20px; /* Add margin-top for spacing between the button and the graph div */
    padding: 20px; /* Alternatively, you can use padding for spacing */
    background-color: #f9f9f9; /* Optional background color for the graph div */
    border-radius: 5px; /* Optional border radius for styling */
}







/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

::placeholder {
    color: #4c9b5e;
    opacity: 1; 
  }

#main{
    font-size: 30px;
    margin-bottom: 30px;
    color: #4c9b5e;
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
}

#login-form{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

#user-login-form{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

#user-login-form h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #4c9b5e;
    position: relative;
}

#user-login-form h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #4c9b5e;
}

.btn-field{
    width: 100%;
    display: inline-block;
    justify-content: space-between;
}

.btn-field button{
    width: 150px;
    background: #4c9b5e;
    color: #fff;
    height: 40px;
    border-radius: 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.5s;
}

.input-group{
    height: 140px;
}
  
.btn-field button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-field button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-field button:hover span {
    padding-right: 25px;
  }
  
  .btn-field button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  #4c9b5e