@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
}

/* LOGIN */
.loginBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
}

.loginContainer {
    width: 75%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background: #fff;
}

.logo {
    width: 100%; 
    height: 20%;
    object-fit: cover;
}

.loginContainer h3.title {
    margin-bottom: 15px;
    caret-color: transparent;
}

#loginBtn {
    width: 68%;
    padding: 10px;
    color: white;
    background: #84B272;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.loginForm {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-input {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin: 5px 0;
}

.text-input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.text-input i {
    color: #686868;
}

::placeholder {
    color: #9a9a9a;
}

#errorMessage {
    caret-color: transparent;
}

/* NAVIGATION */
.dashboardBody {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.graphContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-top: 70px;
}

.navigation {
    caret-color: transparent;
    position: relative;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    border-top-right-radius:  10px;
    border-bottom-right-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #84B272;
    background: #84B272;
    transition:  width 0.5s;
    overflow-x: hidden;
}

.navigation.active {
    width: 300px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}

.navigation ul li b:nth-child(1):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 20px;
    background: #84B272;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}

.navigation ul li b:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    background: #84B272;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.navigation ul li a .icon ion-icon2 {
    font-size: 1.5em;
}

.navigation ul li.active {
    background: #fff;
}

.navigation ul li.active a {
    color: #333;
}

.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #84B272;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background: #ff4d89;
}

.toggle ion-icon {
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
    display: none;
}

/* Media adjs */
@media (min-width: 1250px) {
    .loginContainer {
        width: 25%;
    }
    .navigation {
        display: flex;
    }
   
}

@media (min-width: 768px) {
    .loginContainer {
        width: 50%;
    }
    .logo {
        width: 50%; 
        height: 20%;
    }
}

@media (min-width: 1600px) {
    .loginContainer {
        width: 20%;
    }
    .logo {
        width: 30%; 
        height: 20%;
    }
}